.entity-picker
  %a(href='javascript:' ng-click='openEventDialog()')
    %span(ng-if='model')
      {{model.label}}
      %span.path ({{model.path}})
    %span(ng-if='!model') (none)

  .modal.hide.fade(ih-modal)
    .modal-header
      %button(type="button" class="close" data-dismiss="modal") &times;
      %h3 Choose {{type}}
    .modal-body
      %ih-entity-browser(on-select='eventSelected' connectors='connectors')
    .modal-footer
      %a(href='javascript:' class='btn' ng-click='closeEventDialog()') Cancel
      %a(href='javascript:' class='btn btn-primary' ng-click='acceptEventDialog()') Select
