%ih-target-box(model='prop' schema='schema[key].type.members')

%ul(ng-if='is_open_struct(key)')
  %li(ng-controller='NewFieldController')
    %div(ng-show='type != null')
      %input(type="text" placeholder="field name" ng-model="name" ng-keypress="field_name_key_press($event)")

      %span.type :: {{type}}

      .btn-group
        %button.btn.btn-small(type="button" ng-click="submit()")
          Ok
        %button.btn.btn-small(type="button" ng-click="cancel()")
          Cancel

    .btn-group(ng-show='type == null')
      %button.btn.btn-small.dropdown-toggle(data-toggle="dropdown")
        Add field
        %span.caret
      %ul.dropdown-menu
        %li
          %a(href='javascript:' ng-click='add_field("string")') Add string
          %a(href='javascript:' ng-click='add_field("number")') Add number
          %a(href='javascript:' ng-click='add_field("date")') Add date
          %a(href='javascript:' ng-click='add_field("struct")') Add struct
