.target-box.form-inline
  %ul
    %li(ng-repeat='(key, prop) in model.members track by key')
      %label {{key}}
      %i.type :: {{human_type(key)}}

      %input(type='{{input_type(key)}}' ng-if='!is_struct(key) && prop.type == "literal"' ng-model='prop.value' ui-on-drop="dropOverMember(key, $data)")

      .pill(ng-if='is_mapped(prop)')
        {{prop.join('.')}}
        %a(ng-click="remove_mapping(key)" href='javascript:')
          %i.icon-remove

      %a(href='javascript:' ng-click="remove_member(key)" ng-if="can_delete(key)")
        %i.icon-remove


      %div(ng-include="'/angular/target_box_struct_members.html'" ng-if='is_struct(key)')


