!!!
%html
  %head
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %style
      body { background: white; margin: 0 20px; }

  %body{'ng-app' => 'ApiPickerApp', 'ng-init' => init_scope(type: @type)}
    %div(ng-controller='ApiPickerCtrl')
      %br
      %br
      %ih-entity-browser(on-select='entitySetSelected' filter-type='type')

      %br

      %span(ng-show='selection')
        %button.btn(type="button" ng-click="closePicker()")
          Select {{selection.item.path}}

      %span(ng-hide='selection')
        No item selected

