!!!
%html
  %head
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %style
      body { background: white; margin: 0 20px; }

  %body(ng-app='ApiPickerApp')
    %div(ng-controller='ApiPickerCtrl')
      %br
      %br
      %ih-entity-browser(on-select='entitySetSelected' filter-type='type')

      %br

      %span(ng-show='selectedItem.path')
        %button.btn(type="button" ng-click="closePicker()")
          Select {{selectedItem.path}}

      %span(ng-hide='selectedItem.path')
        No item selected

