.field
  = f.label :url, "Base API Url"
  = f.text_field :url, value: connector.url, placeholder: "http://cdx-host.com/api"

.field
  = f.label :oauth_token, "OAuth token"
  = f.text_field :oauth_token, value: connector.oauth_token
