%h1 New task

%div{'ng-app'=>'CreateTaskApp'}
  .row-fluid(ng-controller='CreateTaskCtrl')
    .span6
      %h1 Event

      %ih-entity-picker(model='event' type='event')
      / %pre {{event_reflect}}

      %ih-source-box(model='event_reflect.args')

    .span6
      %h1 Action

      %ih-entity-picker(model='action' type='action')
      / %pre {{action_reflect}}
      %pre {{mapping}}

      %ih-target-box(model='mapping' schema='action_reflect.args')

