%h1 New task

%div{'ng-app'=>'CreateTaskApp', 'ng-init'=>"connectors=#{@connectors.to_json}"}
  .row-fluid(ng-controller='CreateTaskCtrl')
    .span6
      %h1 Event

      %ih-entity-picker(model='event' type='event')
      %pre {{event}}

    .span6
      %h1 Action

      %ih-entity-picker(model='action' type='action')
      %pre {{action}}

/ %div{'ng-app'=>'HubApp', 'ng-init'=>"connectors=#{@connectors.to_json}"}

/   %ih-entity-browser(connectors='connectors')

