.row-fluid
  .span12
    %h4 Connectors
    - connectors.each do |connector|
      .row-fluid
        .span12.box-list
          = icon_link_to :'icf-arrow', connector.name, edit_connector_path(connector)

    - %w(Elasticsearch MBuilder ONA RapidPro Verboice ACT).each do |name|
      = icon_link_to :'icc-add', "Add #{name} Connector", new_connector_path(type: "#{name}Connector"), class: "add-connector blue"
      %br
      %br
