.row-fluid
  .span12
    %h4 Tasks
    - event_handlers.each do |event_handler|
      .row-fluid
        .span12.box-list
          = icon_link_to :'icf-arrow', event_handler.name, edit_event_handler_path(event_handler)

    = icon_link_to :'icc-add', "Add Task", new_event_handler_path, class: "blue"
    %br
    %br
