/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "instedd-bootstrap";

.pill {
  @include border-radius(15px);
  padding: 2px 8px;
  display: inline-block;
  line-height: 20px;
  white-space: nowrap;
  color: #999;
  cursor: move;
  border: 1px solid #ddd;
}

input.ng-invalid {
  background-color: #fff6f6;
}

.task.disabled span {
  color: #a6a6a6;
}
